<%= render "shared/back_button"%>


<div class="container-participation-show">

  <div id="qr-code">
    <div id="qr-code-header">
      <p>
        Présentez votre Qr code sur place
      </p>
    </div>
    <div id="qr-code-details">
      <%= @svg.html_safe %>
    </div>
  </div>

</div>
