
// Couleur principal
$primary-color: #004EE4;
$second-color: #E4004E;
$third-color: #2C8902;

// Couleur Texte
$primary-black: #1D2424;
$primary-white: #FFFFFF;

// Couleur button
$button-color: #EFEFEF;

// Nav-bar Texte
$nav-grey: #B1B1B1;


// Couleur Erreur
$error-red: #FA3939;

// Couleur Sucess
$sucess-green: #4EE400;

// Light Couleur
$grey: #B9B9C3;
$light-blue: #E4F6FF;
$light-grey: #B0B0B0;
$light-green: #DFFFC5;
$light-red: #FFF1F1;
$light-orange: #FFF7C5;
