@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

$loops-font: "Lobster", "inter";
$body-font: "Instrument Sans";

$small: 12px;
$regular: 16px;
$medium:24px
