#container-inscription{
  background-color: #FF850A;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header-inscription{
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
  padding-left: 32px;
  margin-top: 64px;
}

#button-inscription{
  margin-top: 64px;
  border: 1px solid grey;
  color: #FF850A;
  border-radius: 36px;
  width: 329px;
  height: 54px;
  box-shadow: 0px 4px 4px #00000040;
  background-color: white;
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 32px;
}
