@media (min-width : 200px) and (max-width : 1100px) {

  #all-header-signIn{

    h2{
      font-family: $loops-font;
      color: #FF850A;
      margin-bottom: 70px;
      font-size: 32px;
      font-weight: 400;
      margin-top: 167px;
    }

    p{
      font-size: 32px;
      font-family: "Instrument Sans", sans-serif;
      font-weight: bold;
    }
  }

  #header-signIn{
    display: flex;
    justify-content: center;
  }

  .signIn-container{
    border-radius: 20px;
    width: 100%;
    margin-bottom: 32px
  }

  .form-signIn-container{
    margin: 50px 32px 0 32px;
    p{
      color: #6C7278;
      height: 25px;
    }
  }

  #input-with-icon1 {
    position: relative;
  }

  #input-with-icon1 i {
    position: absolute;
    left: 20px; /* Position de l'icône à gauche */
    top: 37%;
    transform: translateY(-50%);
    color: #999;
  }


  #input-form1{
    height: 50px;
    width: 37vh;
    border-radius: 36px;
    border: 1px solid #C7BDB4;
    margin-bottom: 16px;
    text-indent: 40px;

  }

  #input-form2{
    height: 50px;
    width: 37vh;
    border-radius: 36px;
    border: 1px solid #C7BDB4;
    margin-bottom: 16px;
    text-indent: 40px;
  }


  #input-with-icon2 {
    position: relative;
  }

  #input-with-icon2 i {
    position: absolute;
    left: 20px; /* Position de l'icône à gauche */
    top: 37%;
    transform: translateY(-50%);
    color: #999;
  }
  .mb-3.boolean.optional.user_remember_me {
    border: none;
    padding-left: 0;
  }

  #password{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 12px;
  }



  .forgot-password-link{
    color: #BF4215;
    text-decoration: none;
  }

  .btn-logIn{
    background-color: #FF850A;
    color: white;
    border: 1px;
    border-radius: 36px;
    height: 50px;
    width: 37vh;
    box-shadow: 0px 4px 4px #00000040;
    font-weight: 600;
    font-size: 16px;
    font-family: "Instrument Sans", sans-serif;
  }

  .form-actions{
    margin-left: 32px;
  }

  #btn-signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55%;
    padding-right: 13px;
    
    p{
      font-weight: 600;
      font-size: 12px;
    }
  }

  #signUp-link{
    text-decoration: none;
    color: #FF850A;
    margin-top: 8px;
    font-weight: 700;
    font-size: 12px;
  }

  ////////////// SIGN UP //////////////////

  .header-signup{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header-signup h3{
    color: $primary-black;
    font-size: 14px;
  }

}
