.container-participation-show{
  margin-top: 61px;
  margin-left: 32px;
  height: 100vh;
}

#qr-code{
  margin-top: 91px;
  height: 400px;
  width: 329px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

#qr-code-header{
  margin-top: 46px;
  margin-left: 55px;
  margin-right: 54px;
  margin-bottom: 32px;

  p{
    font-family: $body-font;
    font-weight: 700;
    font-size: 24px;
    color: black;
    text-align: center;
    margin-top: 32px;
  }
}

#qr-code-details{
  margin: 0 66px 187px 66px;
}
