<div class="side-bar" data-controller="navbutton" >
  <div class="side-container">
    <div class="section active" data-action="click->navbutton#change" data-navbutton-target="navElement">
      <div class="nav-i-container">
        <i class="fa-solid fa-house nav-icon"></i>
      </div>
      <%=  link_to "Accueil", pages_home_path, class:"link", data: {turbo: :false} %>
    </div>
    <div class="section" data-action="click->navbutton#change" data-navbutton-target="navElement">
      <div class="nav-i-container">
        <i class="fa-solid fa-handshake nav-icon"></i>
      </div>
      <% if current_user.fidelity_program.nil? %>
        <%= link_to "Programme", landing_path, class:"link", data: {turbo: :false} %>
      <% else %>
        <%= link_to "Programme", fidelity_program_path(current_user.fidelity_program), class:"link", data: {turbo: :false} %>
      <% end %>
    </div>
    <div class="section" data-action="click->navbutton#change" data-navbutton-target="navElement" >
      <div class="nav-i-container">
        <i class="fa-solid fa-circle-user nav-icon"></i>
      </div>
        <%= link_to "Clients", customers_path, class:"link", data: {turbo: :false} %>
    </div>
  </div>
</div>
