<div class="header">
  <div class="header-text">
    <h1>LOOPS.</h1><span>Manager</span>
  </div>
  <div class="header-icon">
    <div class="icon-container">
      <%= image_tag "Group.png", alt:"avatar" %>
    </div>
      <%= image_tag "002-notification-1.png", alt:"icone notification" %>
  </div>
</div>





<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
