.main-container{
  display: flex;
}

.main-home{
  margin-left: 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cards{
  display: flex;
  gap: 16px;
}

.card{
  width: 300px;
  background-color: $primary-white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-content{
  display: flex;
  align-items: center;
}
