.main-container{
  display: flex;
}

.main-home{
  margin-left: 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cards{
  display: flex;
  gap: 16px;
}

.card{
  width: 300px;
  background-color: $primary-white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 12px;
}

.card p {
  font-size: 48px;
  font-weight: 500;
}

.card > * {
  padding-left: 32px;
}

.main-content{
  display: flex;
  align-items: center;
  gap: 16px;
}

.program-container{
  width: 616px;
  height: 445px;
  background-color: $primary-white;
  border-radius: 12px;
}

.shortcuts-container{
  width: 300px;
  height: 442px;
  background-color: $primary-white;
  border-radius: 12px;
}

.text-program{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
}

.program-header{
  padding-top: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

#status-container{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: $second-color;
  width: fit-content;
  border-radius: 50px;
}

#status-container p{
  color: $primary-white;
  font-weight: 500;
  padding: 8px;
  font-size: 12px;
}

#green-round{
  margin-right: 8px;
}

.text-shortcut{
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 32px;
}

.text-program h2{
  color: $second-color;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.text-program p{
  font-weight: bold;
  color: $primary-black;
}

.fast-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortcut-container{
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid $grey;
  gap: 16px;
  width: fit-content;
  padding: 16px;
}

.shortcut-container span{
  color: $primary-black;
  font-weight: 500;
}
