.program-container{
  padding: 32px;
}

.link{
  text-decoration: none;
  color: black;
}

.program-content{
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

.btn-program{
  background-color: #004EE4;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
}
