*{
  margin: 0;
  font-family: 'inter';
}

body{
  background-color: #F5F7FA;
}

.timeline{
  display: flex;
  align-items: center;
  gap: 8px;
}

#on{
  background-color: $primary-color;
  border: none;
}

.circle{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid $grey ;
}

.bar{
  width: 40px;
  height: 1px;
  background-color: $grey;
}

.main-form{
  margin-left: 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: $primary-white;
  border-radius: 12px;
  width: 1135px;
}

.form-container{
  margin-top: 32px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-text h2{
  font-family: $body-font;
  font-size: 32px;
  color: $primary-black;
  font-weight: bold;
}

.form-text p {
  font-family: $body-font;
  font-weight: lighter;
  font-size: 16px;
  line-height: 22px;
}

.form-input{
  margin-left: 64px;
}

.input-container p {
  font-size: 16px;
  font-weight: 500px;
  color: #888888;
  margin-bottom: 8px;
}

.first-input{
  margin-bottom: 16px;
}

.input-container input{
  height: 48px;
  width: 488px;
  background-color: #F8FAFC;
  border-radius: 12px;
  border: none;
}

input::placeholder{
  color: #B8BCCA;
}

.ratio-container input{
  width: 106px;
}

.ratio-container{
  display: flex;
  align-items: center;
  gap: 32px;
}

.euro-container{
  border: 1px solid $grey;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 26px 12px 26px;
}

.euro-container p{
  margin: 0;
  color: $primary-black;
  font-weight: bold;
}

.reward-container{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 32px;
}

.reward-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reward-text h3{
  font-family: $body-font;
  color: $primary-black;
  font-weight: bold;
}

.submit-container{
  padding-bottom:32px ;
}

.submit-button{
  background-color: $primary-color;
  color: $button-color;
  border-radius: $border-rounded;
  padding: 12px 42px 12px 42px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
}

.reward-button{
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
}

.add-button{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $primary-white;
  color: $primary-color;
  border-radius: $border-rounded;
  padding: 12px 42px 12px 42px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid $grey;
}
