#fp-s-main-container {
  margin: 0px 32px;
}

#fp-s-buttons {
  margin-top: 32px;
  gap: 16px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 32px;
  margin-right: 64px;
}

#fp-s-content {
  display: flex;
  margin: 0px 32px;
  margin-top: 16px;
}

#fp-s-upper {
  display: flex;
  height: 346px;

  margin-top: 32px;
  gap: 16px;
}

#fp-s-left {
  width: 616px;
  height: 346px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid $second-color;
  box-shadow: 0px 8px 28px -6px rgba($color: #18274B, $alpha: 12.0);
}

#fp-s-info {
  width: 539px;
  height: 145px;
  margin-top: 32px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;

}

#fp-s-left-info {
  width: 465;
  height: 74;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px 48px;
  margin-top: 32px;

  #fpsli-date {
    font-size: 18px;
  }

  #fpsli-ratio {
    font-size: 18px;
  }
}

#fp-s-name {
  height: 39px;
  margin: 0px 48px;
  display: flex;
  gap: 16px;
  h1 {
    font-size: 32px;
  }
}

#fp-s-qr-container {
  width: 295px;
  height: 346px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: $second-color;
  border-radius: 12px;
}

#fp-s-qr-text {
  margin-top: 32px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}


#fp-s-qrcode {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 32px;
}

#fp-s-cards {
  margin-top: 32px;
  margin-right: 32px;
  gap: 12px;
  width: 931px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

#fp-s-card {
  height: 150px;
  background-color:white;
  border-radius: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $second-color;
  box-shadow: 0px 8px 28px -6px rgba($color: #18274B, $alpha: 12.0);
  padding: 0px 16px;
}

#fp-s-card-img {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #E7E7E7;
  margin-top: 8px;
}

#fp-s-card-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 20px;
  padding: 16px;
  gap: 24px;
  text-align: left;

  #fpsci-name {
    font-weight: 600;
  }
}

#fp-s-card-pts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fp-s-edit {
  background-color: #E7E7E7;
  padding: 12px 42px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}

.fp-s-delete {
  color: white;
  background-color: #C31212;
  padding: 12px 42px;
  border-radius: 12px;
  text-decoration: none;
}

#fp-status {
  display: flex;
  background-color: #EFEFEF;
  border-radius: 30px;
  padding: 0px 24px;
  margin: 0px;
  gap: 8px;
  align-items: center;
  margin-right: 32px;
}

.fp-on {
  background-color: #4EE400;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.fp-off {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#fp-s-icon {
  display: flex;
  align-items: center;
  background-color: #0AC5FF;
  padding: 20px;
  border-radius: 50%;
}

.image-wrapper {
  width: 100%; /* Prend toute la largeur du conteneur parent */
  height: 100%; /* Prend toute la hauteur du conteneur parent */
  overflow: hidden; /* Cache les parties de l'image qui dépassent */

  img {
    width: 60px; /* L'image prend toute la largeur du conteneur */
    height: 60px; /* L'image prend toute la hauteur du conteneur */
    object-fit: cover; /* Ajuste l'image pour couvrir tout le conteneur */
  }
}

.reward-points {
  height: 40px;
  width: 40px;
  background: linear-gradient(#FF930F, #FFE72E);
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0px 12px;
  color: #EFEFEF;
  font-weight: 600;
}
