.customer-container{
  padding: 32px;


  h1{
    font-weight: 700;
    font-size: 32px;
  }
}

.filter-by{
  display: flex;
}

.filterbar{
  display: flex;
  margin-top: 24px;
  border: solid #D5D5D5;
  border-radius: 20px;
  height: 70px;
  width: 900px;
}

#filter-icon{
  border-right: solid #D5D5D5;
  padding: 26px;
}

#filter-name{
  padding: 26px 25px 25px 24px;
}
.container-filter{
  display: flex;
  padding: 26px 25px 25px 24px;
  justify-content: center;
  align-items: center;
  border-right: solid #D5D5D5;
  }

#reset-filter{
  display: flex;
  padding: 26px 25px 25px 24px;
  justify-content: center;
  align-items: center;
  color: $second-color;
}


#date{
  padding: 26px 17px 25px 24px;
}

.icons{
  padding: 0 14px 0 17px;
}

#header-user{

  display: flex;
//   margin-top: 22px;
//   background-color: $primary-color;
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
//   color: white;
//   font-weight: bold;

}

.c-header {
  height: 61px;
  margin-top: 22px;
  background-color: $primary-color;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-body {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: auto;
  background-color: white;
}

#email {
  width: 300px;

  .c-header {
    border-top-left-radius: 20px;
    justify-content: center;
  }

  .c-body {
    justify-content: left;
  }

  .c-content {
    width: 300px;
  }

  p {
    padding-left: 64px;
  }

  .link-none {
    text-decoration: none;
    color: black;
  }

  .link-none:hover {
    font-weight: bold;
  }
}

#inscription {
  width: 300px;
  padding: auto 32px;

  .c-header {
  justify-content: center;
  }

  .c-content {
    width: 300px;
    justify-content: center;
  }
}

#modifier {
  width: 150px;

  .c-header {
  border-top-right-radius: 20px;
  }

  .c-content {
    width: 150px;
    justify-content: center;
  }
}

#points {
  width: 150px;

  .c-content {
    width: 150px;
    justify-content: center;
  }
}

.c-content {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom:  0.5px solid #B0B0B0;


    i {
      color: $second-color
    }

    i:hover {
      size: 50%;
    }
}

.c-content:last-child {
  border-bottom: none;
}
