#fp-s-buttons {
  margin-top: 32px;
  gap: 16px;
  display: flex;
  flex-direction: row-reverse;
}

#fp-s-content {
  display: flex;
  flex-direction: column;
  margin: 0px 32px;
  margin-top: 16px;
}

#fp-s-upper {
  display: flex;
  height: 346px;

  margin-top: 32px;
  gap: 16px;
}

#fp-s-left {
  width: 616px;
  height: 346px;
  background-color: white;
  border-radius: 12px;
}

#fp-s-info {
  width: 539px;
  height: 145px;
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#fp-s-left-info {
  width: 465;
  height: 74;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-size: 24px;
  }
}

#fp-s-name {
  height: 39px;
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 32px;
  }
}

#fp-s-qr-container {
  width: 295px;
  height: 346px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #F60853;
  border-radius: 12px;
}

#fp-s-qr-text {
  margin-top: 32px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}


#fp-s-qrcode {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
}

#fp-s-cards {
  margin-top: 32px;
  gap: 12px;
  width: 931px;
  display: flex;
  flex-wrap:wrap
}

#fp-s-card {
  width: 300px;
  height: 150px;
  background-color:white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fp-s-card-img {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #E7E7E7;
  margin-top: 8px;
}

#fp-s-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding: 16px;
}

#fp-s-card-pts {
  display: flex;
  align-items: center;
}

.fp-s-edit {
  background-color: #E7E7E7;
  padding: 12px 42px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}

.fp-s-delete {
  color: white;
  background-color: #C31212;
  padding: 12px 42px;
  border-radius: 12px;
  text-decoration: none;
}

#fp-status {
  display: flex;
  background-color: #EFEFEF;
  border-radius: 30px;
  padding: 0px 24px;
  margin: 0px;
  gap: 8px;
  align-items: center;
}

.fp-on {
  background-color: #4EE400;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.fp-off {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
