.customer-container{
  padding: 32px;


  h1{
    font-weight: 700;
    font-size: 32px;
  }
}

.filter-by{
  display: flex;
}

.filterbar{
  display: flex;
  margin-top: 24px;
  border: solid #D5D5D5;
  border-radius: 20px;
  width: 900px;
}

#filter-icon{
  border-right: solid #D5D5D5;
  padding: 26px;
}

#filter-name{
  padding: 26px 25px 25px 24px;
}
.container-filter{
  display: flex;
  padding: 26px 25px 25px 24px;
  justify-content: center;
  align-items: center;
  border-right: solid #D5D5D5;
  }

#reset-filter{
  display: flex;
  padding: 26px 10px 25px 24px;
  justify-content: center;
  align-items: center;
  color: $second-color;
}


#date{
  padding: 26px 17px 25px 24px;
}

.icons{
  padding: 0 14px 0 17px;
}

#header-user{
  display: flex;
  margin-top: 22px;
  background-color: $primary-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

#email{
  padding: 21px 135px 21px 104px;
}

#modifier{
  padding: 21px 135px 21px 104px;
}

.other{
  padding: 21px 135px 21px 0;
}

.user-list{
  list-style-type: none;
  padding: 20px;
}

.ul-list{
  padding: 0px 0 0 10px;
}
