
<div id="rewards-container">
  <div id="rewards-header-container">
    <div id="rewards-header">
      <div id="reward-navbar">
        <p id="reward-header">Mes récompenses</p>
        <div id="around-burger">
        <div class="burger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        </div>
      </div>
    <p id="reward-description">Retrouvez les prochaines récompenses qui vous attendent </p>
    </div>
  </div>

  <div id="points-reward" >
    <div>
      <div class="my-reward">
      Mes points
      </div>
      <div class="my-reward">
        <p><% @inscription.participations.each do |p| %>
            <% @sum += p.points %>
          <% end %>
        <p data-redeem-points-target="balance"><%= @sum %></p><i class="fa-solid fa-star"></i></p>
      </div>
      <div class="my-reward">
        Prochaine récompense dans 10 points
      </div>


    </div>
    <% @rewards.each do |r| %>
    <div class="reward" >
      <div id="all-rewards">
        Récompense à 30 points
      </div>
      <div class="reward-custom">
        <p><%= r.points_required %></p><i class="fa-solid fa-star"></i>
      </div>
      <div class="reward-details">
        <div class="img-reward">
          image
        </div>
        <div class="details">
          <p><%= link_to "#{r.name}", fidelity_program_reward_path(@fidelity_program, r) %></p>
          <p><%= r.description %></p>
        </div>
      </div>
      <% end %>

</div>
</div>
