<% if current_user.role == "merchant" %>

  <div class="text-home">
    <p>Bonsoir, <span>Lily</span></p>
    <h1>Résumé du jour</h1>
  </div>

  <div class="cards-container">
    <div class="card">
      <span></span>
    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
  </div>



  <% else %>

  <h1>Loops customer view</h1>

  <p>à ajouter :</p>

<ul>
<li>total points acquis</li>
<li>historique des récompenses</li>
</ul>
  <% end %>
