<div class="main-landing">
  <div class="top-landing">
    <div class="text-landing">
      <p>Vous n’avez aucun programme en cours</p>
      <p id="p-landing" >Fidélisez vos clients.</p>
    </div>

    <div class="button-landing">
      <%= link_to "créer votre programme", new_fidelity_program_path, class:"create-btn" %>
    </div>
  </div>

  <div>
    <%= image_tag "landing.png", class:"img-landing" %>
  </div>
</div>
