<div id="loading-container" data-photo-input-target="loading">
  <div id="loading-page">
    <div id="loading-text">
      <h1>Scan en cours</h1>
    </div>

    <div id="loading-img">
      <p>. . . . . .</p>
    </div>
  </div>
</div>
