<div id="container-inscription">

    <div id="header-inscription">
      <div>
        <p>Bienvenue dans le programme de <%= @fidelity_program.name %></p>
      </div>
    </div>


  <div>
    <%= form_tag(fidelity_program_inscriptions_path(@fidelity_program), method: :post) do %>
    <%= submit_tag("Continuer", id: "button-inscription") %>
    <% end %>
  </div>
</div>
