
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 16px 32px;
  background-color: $primary-white;
  border-bottom: #D1D1D1 solid 1px;
}

.header-text h1{
  color: $primary-color;
  font-family: $loops-font;
  font-size: 25px;
}

.header-text span {
  color: $primary-black;
  font-family: $body-font;
  font-weight: 600;
  font-size: 25px;
}

.icon{
  font-size: 25px;
  color: $primary-color;
  cursor: pointer;
}

.avatar{
  width: 25px;
}

.header-icon{
  display: flex;
  align-items: center;
  gap: 24px;
}

.dropdown-item{
  text-decoration: none;
  color: $light-grey;
  font-weight: 500;
}
