<h1>FP index pages</h1>

<ul>
<% @fidelity_programs.each do |program| %>
<li><%= link_to "#{program.name}", fidelity_program_path(program) %></li>
<% end %>
</ul>

<%= link_to "Créer un programme", new_fidelity_program_path %>

<%= link_to "Back", root_path %>
