<%= turbo_frame_tag :show_clients do %>

<div class="customer-container">
  <h1>Liste des clients </h1>
  <div class="filterbar">
     <div id="filter-icon">
        <i class="fa-solid fa-filter"></i>
      </div>
    <div class="container-filter">
        <p>Filter By</p>
    </div>
    <div class="container-filter">
      <div >
      Date
      </div>
      <div class="icons">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
    <div class="container-filter">
      <div>
      Order Type
      </div>
      <div class="icons">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
    <div class="container-filter">
      <div>
      Order Status
      </div>
      <div class="icons">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
    <div id="reset-filter">
      <div class="icons">
        <i class="fa-solid fa-rotate-right"></i>
      </div>
      <div>
        Reset Filter
      </div>
    </div>
  </div>

  <div id="header-user">
      <div id="email">
        Email
      </div>
      <div class="other">
        Télephone
      </div>
      <div class="other">
        Date d'inscription
      </div>
      <div class="other">
        Points
      </div>
      <div id="modifier">
        Modifier
      </div>
  </div>

<ul>

<% @fidelity_programs.each do |program| %>
  <% program.inscriptions.each do |user| %>
    <li>
    <%= user.user.email %>
    </li>
  <% end %>
<% end %>
</ul>

<% end %>
</div>
