<%= turbo_frame_tag :show_clients do %>

<div class="customer-container">
  <h1>Liste des clients </h1>

  <div id="header-user">
      <div id="email">
        <div class="c-header">
          Email
        </div>
        <div class="c-body">
          <% @fidelity_program&.inscriptions&.each do |i| %>
              <div class="c-content">
                <p><%= i.user.email %></p>
              </div>
          <% end %>
        </div>
      </div>
      <div id="inscription">
        <div class="c-header">
          Date d'inscription
        </div>
        <div class="c-body">
            <% @fidelity_program&.inscriptions&.each do |user| %>
              <div class="c-content">
              <% if user.created == nil %>
              <p>N/A</p>
              <% else %>
              <p><%= user.created.strftime("%d-%m-%Y") %></p>
              <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <div id="points">
        <div class="c-header">
          <p>Points</p>
        </div>
        <div class="c-body">
            <% @fidelity_program&.inscriptions&.each do |i| %>
              <% i.participations.each do |p| %>
                <p><% @sum += p.points %></p>
              <% end %>
                <div class="c-content">
                  <p>
                  <%= @sum %>
                  </p>
                </div>
          <% end %>
        </div>
      </div>
  </div>
  <% end %>
</div>
